name: ppc64le

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref_name }}-${{ github.ref_type == 'branch' && github.sha }}-${{ github.event_name == 'workflow_dispatch' }}-${{ github.event_name == 'schedule' }}
  cancel-in-progress: true

jobs:
#   linux-ppc64le-docker-image-build:
#     name: Build docker image for ppc64le
#     runs-on: ubuntu-24.04-ppc64le-p10
#     steps:
#       - name: Checkout PyTorch
#         uses: pytorch/pytorch/.github/actions/checkout-pytorch@main
#         with:
#           submodules: false
#           no-sudo: true
        
      

#       - name: Build Docker image for ppc64le
#         run: |
#           sudo docker build -f .ci/docker/manywheel/Dockerfile_ppc64le -t manylinuxppc64le-builder .
#           # .ci/docker/manywheel/build.sh manylinuxppc64le-builder:cpu-ppc64le -t manylinuxppc64le-builder
    
#       - name: Save Docker image to tarball
#         run: |
#           docker save manylinuxppc64le-builder -o manylinuxppc64le-builder.tar

#       - name: Upload image artifact
#         uses: actions/upload-artifact@v4
#         with:
#           name: manylinuxppc64le-builder-image
#           path: manylinuxppc64le-builder.tar
  linux-manylinux-2_28-py3-cpu-ppc64le-build:
    
    name: linux-manylinux-2_28-py3-cpu-ppc64le-build
    uses: ./.github/workflows/_linux-build.yml
    with:
      build-environment: linux-ppc64le-binary-manywheel
      docker-image-name: manylinuxppc64le-builder
      runner: ubuntu-24.04-ppc64le
    secrets: inherit