name: ppc64le

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref_name }}-${{ github.ref_type == 'branch' && github.sha }}-${{ github.event_name == 'workflow_dispatch' }}-${{ github.event_name == 'schedule' }}
  cancel-in-progress: true

jobs:
  
  ppc64le-UBI-9-3-Build-and-Test:
    name: ppc64le-UBI-9-3-Build-and-Test
    uses: ./.github/workflows/_linux-build.yml
    
    with:
      build-environment: linux-ppc64le-binary-manywheel-ubi9
      docker-image-name: pytorch-ppc64le:ubi9.3
      runner: linux.ppc64le 
        
      